
.Board {
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px auto;
  border: 2px solid black;
  padding: 12.5px 0px 8.5px 12.5px;
}

.Board h1 {
  text-align: center;
}
.Board button {
    color: white;
    background-color: #58723b;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    margin: auto;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s;
}

.Board button:hover {
  opacity: 0.8;
}